/****** Main Styling ******/

* {
	padding:0;
  margin:0
}

.header-container {
  color: #5995DA;
  background-color:#D6E9FE;
	display:flex;
  justify-content:center;
}

.header{
   width:900px;
   height:150px;
   display:flex;
   justify-content:center;
   align-items:center;
  
   
}

.box{
  display:flex;
  justify-content:center;
  
}

.box1{
  width:600px;
  display:flex;
  
  justify-content:center;
  align-items:center;
 
}

ol{
  display:flex;
  justify-content:center;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

