/****** Main Styling ******/

* {
	font-family: 'arial';
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
  display:flex;
}

.header-container {
  color: #5995DA;
  background-color:#D6E9FE;
	display:flex;
  justify-content:center;
}

.header{
   width:900px;
   height:300px;
   display:flex;
   justify-content:space-between;
   
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}